.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(77, 184, 255, 1);

  hgroup {
    text-align: center;

    .logo {
      max-width: 100px;
      margin-top: 50px;
    }

    h1 {
      font-size: 5vmin;
      text-transform: uppercase;
      color: #ffffff;
    }

    h2 {
      display: inline-block;
      margin: 0 5px;
      padding: 20px 30px;
      border: 2px solid #ffffff;
      font-size: 3vmin;
      text-transform: uppercase;
      color: #ffffff;

      &:hover {
        color: rgb(77, 184, 255);
        text-shadow: none;
        background-color: #ffffff;
        border: 2px solid transparent;
      }
    }

    .tagline {
      font-size: 3vmin;
      position: relative;
      color: #ffffff;
      margin-bottom: 5vmin;
      padding-bottom: 3vmin;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
}
