/******* HEADER/NAV *********/


.mobile-detailing-wrapper {
  background-color: #ffffff;
  margin: 0 auto;
  min-height: 100vh - 10vh;
  width: 100vw;

  .md-logo-header-container {
    background-color: rgb(77, 184, 255);
    margin: 0;
    overflow: hidden;

    .md-logo-header-inner-container {
      max-width: 960px;
      margin: 0 auto;
      display: flex;
      position: relative;

      &:before {
        content: '';
        width: 2000px;
        height: 1px;
        top: 50%;
        background-color: rgba(255, 255, 255, 0.3);
        position: absolute;
        right: 100%;
      }

      &:after {
        content: '';
        width: 2000px;
        height: 1px;
        top: 50%;
        background-color: rgba(255, 255, 255, 0.3);
        position: absolute;
      }

      .logo {
        max-width: 100px;
        margin: 0 30px;
      }

      h1 {
        text-transform: uppercase;
        color: #ffffff;
        font-size: 5vmin;
        position: relative;
        margin-right: 30px;
      }

      h6 {
        text-transform: uppercase;
        color: #ffffff;
        text-align: left;
        font-size: 2vmin;
      }
    }
  }

  .nav-wrapper {
    background-color: rgba(153, 215, 255, 1);

    .navigation {
      background-color: rgba(153, 215, 255, 1);
      max-width: 960px;
      margin: 0 auto;
      text-align: center;
      padding: 20px 0;

      a {
        font-size: 2vmin;
        text-transform: uppercase;
        display: inline-block;
        padding: 0 30px;
        color: #ffffff;
        position: relative;

        &:after {
          content: '-';
          color: rgba(255, 255, 255, 0.8);
          position: absolute;
          right: -5px;
        }

        &:last-of-type:after {
          content: '';
        }

        &:hover {
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
}

/******* MAIN SECTION *********/

.md-home-section {
  color: rgba(0, 0, 0, 0.6);
  margin: 5vmin auto;
  max-width: 700px;

  h2 {
    text-transform: uppercase;
    text-align: center;
  }

  p {
    line-height: 2;
  }
}

