html,
body {
  height: 100%;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

main {
  font-family: 'Asap', sans-serif;
  height: 100%;
}

.hr {
  height: 1px;
  width: 200px;
  background-color: rgba(0,0,0,0.2);
  margin: 2rem auto;

  @media #{$phone} {
    margin: 1.5rem auto;
  }
}

.section-wrapper {
  width: 100%;
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(109,109,109,1);
  padding: 20px 0;

  p {
    padding: 1vh 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
  }
}
