html,
body {
  height: 100%;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

main {
  font-family: 'Asap', sans-serif;
  height: 100%;
}

.hr {
  height: 1px;
  width: 200px;
  background-color: rgba(0,0,0,0.2);
  margin: 2rem auto;

  @media #{$phone} {
    margin: 1.5rem auto;
  }
}

.section-wrapper {
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  background-color: rgba(109,109,109,1);
  padding: 20px 0;

  p,
  a {
    display: block;
    padding: 5px 0;
    margin: 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
  }
}
