.contact-section {
  max-width: 700px;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.6);
  padding: 5rem;

  h2 {
    text-align: center;
  }

  .form-horizontal {
    max-width: 400px;
    margin: 40px auto;

    label {
      padding: 0;
      margin-bottom: 5px;
      text-align: left;
      width: 100%;
    }

    .btn-default {
      background-color: rgb(153, 204, 0);
      color: #ffffff;
      display: block;
      width: 50%;
      margin: 0 auto;
      border: none;
      user-focus: none;
      padding: 1rem 0;
      text-transform: uppercase;
      font-size: 1.5rem;

      &:hover {
        opacity: 0.9;
        color: rgba(0,0,0,0.6);
      }
    }
  }
}
