.section-wrapper {
  background-color: #{$tps-blue};
}

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  // You had this, but it gets wonky when scrolling happens on mobile, check it out.
  //height: 100vh
  height: 100%;
  background-color: #{$tps-blue};
  text-align: center;

  @media #{$phone} {
    align-items: flex-start;
  }

  .logo {
    max-width: 150px;
    margin-top: 50px;
    margin-bottom: 75px;

    @media #{$phone} {
      max-width: 125px;
      color: orangered;
      margin-bottom: 30px;
    }
  }

  h1 {
    font-size: 5rem;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0 15px;

    @media #{$phone} {
      font-size: 4rem;
    }
  }

  a {
    display: inline-block;
    text-decoration: none;
    padding: 0 5px;

    &:hover h2 {
      color: rgb(77, 184, 255);
      text-shadow: none;
      background-color: #ffffff;
      border: 2px solid transparent;
    }

    @media #{$phone} {
      margin-bottom: 3rem;
    }
  }

  h2 {
    margin: 0 5px;
    padding: 20px 30px;
    border: 2px solid #ffffff;
    font-size: 3rem;
    text-transform: uppercase;
    color: #ffffff;
    transition: 0.3s ease;
  }

  .tagline {
    font-size: 3rem;
    position: relative;
    color: #ffffff;
    margin-bottom: 5rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    @media #{$phone} {
      font-size: 2rem;
      margin: 0 20px 4rem;
    }
  }
}

