.pw-services-section {
  @include section-base;

  h1 {
    text-align: center;
  }

  .pw-services-container {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 2.5rem 0;
  }

  .pw-services {
    font-size: 2rem;
  }
}
