.secondary-home-wrapper {
  background-color: #ffffff;
  min-height: 100vh - 10vh;
  width: 100vw;
}

.secondary-home-section {
  @include section-base;

  @media #{$phone} {
    margin: 2rem auto;
  }

  h2 {
    text-transform: uppercase;
    text-align: center;

    @media #{$phone} {
      font-size: 1.5rem;
    }
  }

  p {
    @include paragraph;

    @media #{$phone} {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}

