<h2>Contact Me!</h2>

<form ng-submit="processForm()" method="post" name="contactform" action="" class="form-horizontal" role="form">
  <div class="form-group" ng-class="{ 'has-error':errorName }">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" ng-model="formData.name" required/>
    <span class="help-block" ng-show="errorName">{{ errorName }}</span>
  </div>
  <div class="form-group" ng-class="{ 'has-error':errorEmail }">
    <label for="email" class="col-lg-2 control-label">Email</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="Your Email" ng-model="formData.email" required/>
    <span class="help-block" ng-show="errorEmail">{{ errorEmail }}</span>
  </div>
  <div class="form-group">
    <label for="phone" class="col-lg-2 control-label">Phone Number</label>
    <input type="text" class="form-control" id="phone" name="phone" placeholder="Your Phone Number" ng-model="formData.phone"/>
  </div>
  <div class="form-group" ng-class="{ 'has-error':errorMessage }">
    <label for="message" class="col-lg-2 control-label">Message</label>
    <textarea name="message" class="form-control" id="message" ng-model="formData.message" cols="30" rows="10" placeholder="Estimates, Questions, Comments..." required></textarea>
    <span class="help-block" ng-show="errorMessage">{{ errorMessage }}</span>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Submit!</button>
  </div>
</form>
