<section class="mobile-detailing-home-section">
  <div class="md-logo-header-container jumbotron">
    <div class="md-logo-header-inner-container">
      <a ui-sref="home">
        <img src="images/tps-logo-washed.png" alt="" class="logo"/>
      </a>

      <h1>Mobile Detailing</h1>
    </div>
  </div>

  <nav role="navigation" class="navigation">
    <a ui-sref="home">Home</a>
    <a ui-sref="mobile-detailing.about">About</a>
    <a ui-sref="mobile-detailing.services">Services</a>
    <a ui-sref="mobile-detailing.contact">Contact</a>
  </nav>

  <div ui-view></div>
</section>
