<div class="secondary-home-wrapper">
  <div class="logo-header-container jumbotron">
    <div class="logo-header-inner-container">
      <a ui-sref="home">
        <img src="images/tps-logo-washed.svg" alt="" class="logo"/>
      </a>

      <div class="title-name-container">
        <h1>{{ title }}</h1>
        <p>{{ tagline }}</p>
      </div>
    </div>
  </div>

  <div class="nav-wrapper">
    <button class="mobile-menu-toggle">Click to open menu</button>
    <nav role="navigation" class="navigation">
      <a ui-sref="pressure-washing">Home</a>
      <a ui-sref="pressure-washing.services">Services</a>
      <a ui-sref="pressure-washing.gallery">Gallery</a>
      <a ui-sref="pressure-washing.about">About</a>
      <a ui-sref="pressure-washing.contact">Contact</a>
    </nav>
  </div>

  <div ui-view>
    <section class="secondary-home-section">
      <h2>{{ descriptionTagline }}</h2>

      <div class="hr"></div>
      <p ng-repeat="description in descriptions">{{ description }}</p>
    </section>
  </div>
</div>

<footer class="footer">
  <p>Tony's Performance Services | 2015</p>
</footer>
